header{
    position: fixed;
    z-index: 998;
    width: 100%;
    text-align: left;
    font-size: 48px;
    line-height: 108px;
    height: 100px;
    background-color: white;
    color: #212121;
    transition: all 0.3s ease;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

header.sticky {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  background-color: #FFD600;
  color: #212121;
  text-align: left;
}


#bananaclub {
	float: left;
    color: #212121;
}

#menu p {
	font-weight: 800;
	float: right;
	margin-left: 20px;
	font-size: 15pt;
	color: #212121;
}

#guglielmo {
  position: relative;
  width: 100%;
  line-height: 108px;
  height: 100px;
  transition: all 0.3s ease;
}

#guglielmo.sticky {
  line-height: 48px;
  height: 48px;
  text-align: left;
  padding-left: 20px;
}

@media  (max-width: 820px) {
   #menu {
     display:none;
   }
}

body {
	font-family: 'Raleway', sans-serif;
}

.contenitore {
	margin-left: 13vw;
	margin-right: 13vw;
	margin-top: 0px;
}

#gruppo {
    padding-bottom: 0px;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vw;
    margin: 0px;
}

.col-sm-6 {
	padding-left: 3vw;
	padding-right: 3vw;
	padding-bottom: 3vw;
}

.videosopra {

  width: 33.5vw;
  height: 19vw;
  margin-top: 3vw;
}

.altrivideo {

  width: 33.5vw;
  height: 19vw;
}

.immaginiarduino {
  margin-bottom: 11pt;
  width : 15vw;
}

h2 {
	margin-left: 3vw;
	font-weight: 700;
    padding-top: 46px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h3 {
	font-weight: 500;
}

span {

  font-weight: bold;

}

.linkworks {
  padding-left: 2px;
  padding-right: 2px;
  color: #212121;
  font-weight: normal;
  font-size: 15pt;
  background-color: #FFD600;
}

.downloadlinks {
  padding-left: 2px;
  padding-right: 2px;
  color: #212121;
  font-weight: normal;
  font-size: 11pt;
  background-color: #FFD600;
}

a.linkworks:hover {
    background-color: #212121;
    text-decoration: none;
}

a.linkworks:active {
    color: #212121;
    text-decoration: none;
}

.email {
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    font-size: 11pt;
    font-weight: bold;
    background-color: #FFD600;
    color: #212121;
}

a.email:hover {
    background-color: #212121;
    text-decoration: none;
}

a.email:active {
    color: #212121;
    text-decoration: none;
}

.descr{
    font-size: 11pt;
    margin-top: 10pt;
    margin-bottom: 10pt;
}

video {
	width: 100%;
	height: 100%;
}

footer {
    padding: 46px;
    height: 108px;
    background-color: #212121;
}

footer a {
    color: white;
    margin: 10px
}

a:hover {
    color: #FFD600;
    text-decoration: none;
}

a:active {
    color: #FFD600;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

footer p {
    text-align: center;
    font-size: 16px;
    color: white;
}

#murmy {
  margin-top: 3vW;
}

#russialogo {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top:
}

#poster {
    width: 100%;
}

#presentazione2 {

  width: 30vw;
  margin-top: 20px;
}

#presentazione1 {

  width: 30vw;
  margin-top: 20px;
}

#bananasfondo {

  width : 70%;
  margin-top: 3vw;
  margin-bottom: 5vw;
  margin-left: 10vw;
}

#contenitorescritte {
  margin-top: 19vW;
}
/*
pasqmorelli [9:57 PM]
#bananaclub {
   display: block;
   float: left;
   font-weight: 100;
   color: #212121 ;
   margin-left: 215px;
   font-size: 20pt;
}

#chis {
   display: block;
   float: right;
   font-weight: 700;
   color: #212121 ;
   margin-right: 215px;
   font-size: 15pt;
}

#home {
   display: block;
   float: right;
   font-weight: 700;
   color: #212121 ;
   margin-right: 50px;
   font-size: 15pt;
}
*/
